body{
	margin: 0;
	padding: 20px;
}

.outer-box{
	width: fit-content;
	border: 15px solid blue;
	background-color: lightblue;
	margin: 20px;
}

.inner-box{
	width: 300px;
	padding: 50px;
	box-sizing: border-box;
}

.content{
	font-size: 14px;
	line-height: 1.4;
}